[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
Django-crispy-forms = "*"
Pillow = "*"
django-imagekit = "*"
psycopg2-binary = "*"
dj-database-url = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
